<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Taches
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="isOpen = true" color="primary">
        <ion-icon name="add-circle"></ion-icon>Ajouter
      </ion-button>
      <ion-button (click)="isOpen = false" color="danger">
        <ion-icon name="backspace"></ion-icon>Annuler
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="empty">
    <small>Vous n'avez pas de taches</small>
  </div>
  <ion-list *ngIf="(tasks$ | async)?.length">
    <ion-list-header>
      Mes Taches
    </ion-list-header>
    <ion-card class="tasks" *ngFor="let task of tasks$ | async let i=index" >
      <ion-checkbox color="danger" [checked]="task.isChecked" (ionChange)="onCheck($event , i)"></ion-checkbox>
      <h4 *ngIf="!task.isChecked" class="task-title">{{task.content}}</h4>
      <h4 *ngIf="task.isChecked" class="task-title" style="color: red; text-decoration: line-through;">{{task.content}}</h4>
      <ion-button (click)="deleteTask(i)" fill="clear" color="danger" style="float: right;"> <ion-icon  name="trash"></ion-icon></ion-button>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer *ngIf="isOpen">
  <ion-item>
    <ion-input [(ngModel)]="newTask" placeholder="Ajouter une nouvelle tache"></ion-input>
    <ion-button (click)="addNewTask()" shape="round" color="primary"><ion-icon name="add"></ion-icon>Ajouter</ion-button>
  </ion-item>
</ion-footer>