ion-content{
  --ion-background-color:#f9f9f9
}
.tasks{
  padding: 10px;
  background-color: #fff;
}
.task-title{
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-left: 14px;
  font-weight: bold;
  font-size: 15px;
  color: #3880ff;
}

.empty{
  padding: 10px;
  text-align: center;
  margin-top: 50px;
}